$block-scheduling-class: "wsu-gutenberg-block-scheduling";

.#{$block-scheduling-class} {
  order: 100;
}

.editor-styles-wrapper .#{$block-scheduling-class} {
  &__block-wrapper {
    position: relative;
    z-index: 0; // create a new stacking context
  }

  &__block-indicator {
    position: absolute;
    transform: translateX(-150%);

    .dashicons {
      font-size: 30px;
      height: 30px;
      width: 30px;
    }
  }

  &__block-notice {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &__block-notice-heading {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;

    &:not(:last-child) {
      margin-bottom: 0.25em;
    }
  }

  &__block-notice-content {
    background-color: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 0.5em;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 1;

    p {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      gap: 1em;
    }
  }

  &__block-notice-label {
    font-weight: 600;
  }

  // States
  &__block-wrapper.is-selected > .#{$block-scheduling-class}__block-notice,
  &__block-wrapper:has(.wp-block.is-selected)
    > .#{$block-scheduling-class}__block-notice {
    display: none;
  }

  &__block-wrapper.is-disabled:not(.is-selected):not(:has(.wp-block.is-selected)) {
    > .#{$block-scheduling-class}__block-content {
      opacity: 0.3;
    }

    // prevent doubling up on opacity
    .wsu-gutenberg-block-scheduling__block-wrapper
      > .#{$block-scheduling-class}__block-content {
      opacity: 1;
    }
  }
}
