@import "./partials/editor";

/** ===== Block Controls ===== */
@import "../js/partials/block-controls/post-picker/style";
@import "../js/partials/block-controls/font-icon-picker-control/style";
@import "../js/partials/block-controls/spacing-class-name-selector/style";
@import "../js/partials/block-controls/reset-control/style";
@import "../js/partials/block-controls/heading-tag-control.js/style";
@import "../js/partials/block-controls/required-alert-control/style";
@import "../js/partials/block-controls/term-selector-control/style";
@import "../js/partials/block-controls/multiple-image-picker/style";
@import "../js/partials/editor-config/additional-advanced-controls/style";

/** ===== Panels ===== */
@import "../js/partials/block-panels/panel-style-options/style";

/** ===== Front-End Styles ===== */
.block-editor-block-list__layout {
  @import "../../../node_modules/@wsuwebteam/wsu-web-design-system/src/bundles/wsu-design-system.scss";
  @import "../../../node_modules/@wsuwebteam/wsu-web-design-system/src/bundles/wsu-design-system.wordpress.scss";
  @import "../../../blocks/wsuwp-news/editor/style";
  @import "../scss/partials/front-end-style-fixes";
}

/** ===== Blocks ===== */
@import "../../../blocks/wsuwp-button/editor/style";
@import "../../../blocks/wsuwp-menu/editor/style";
@import "../../../blocks/wsuwp-stat/editor/style";
@import "../../../blocks/wsuwp-note/editor/style";
@import "../../../blocks/wsuwp-card-group/editor/style";
@import "../../../blocks/wsuwp-card/editor/style";
@import "../../../blocks/wsuwp-column/editor/style";
@import "../../../blocks/wsuwp-container/editor/style";
@import "../../../blocks/wsuwp-row/editor/style";
@import "../../../blocks/wsuwp-hero/editor/style";
@import "../../../blocks/wsuwp-hero-slider/editor/style";
@import "../../../blocks/wsuwp-pagetitle/editor/style";
@import "../../../blocks/wsuwp-news-cards/editor/style";
@import "../../../blocks/wsuwp-accordion/editor/style";
@import "../../../blocks/wsuwp-people-list/editor/style";
@import "../../../blocks/wsuwp-overlap-advanced/editor/style";
@import "../../../blocks/wsuwp-overlap-spotlight/editor/style";

/** ===== Front-End Styles Fixes ===== */
.block-editor-block-list__layout .wsu-row {
  display: block;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  width: auto;
}

.wsu-gutenberg-format-selector__options {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.wsu-gutenberg-format-selector__option {
  text-align: center;
  list-style-type: none;
  cursor: pointer;
  border: 1px solid #eee;
  padding: 0.5rem !important;
  border-radius: 5px;
  margin: 0 0.5rem !important;
  display: block;

  span {
    display: block;
  }
}
