@import '../../../assets/src/scss/utilities/variables';
@import '../../../assets/src/scss/utilities/mixins';

.block-editor {

    .wp-block[data-type="wsuwp/overlap-spotlight"] {

        @include wsu-gutenberg-block-outline();

        margin: 0 calc( #{$wsu-gutenberg-spacing--block-inner} /2 ) 0;

        padding-left: $wsu-gutenberg-spacing--block-inner;
        padding-right: $wsu-gutenberg-spacing--block-inner;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;

        .wsu-overlap-spotlight__caption {
            background-color: #fff;
            padding: 1.5rem;
        }

        .wsu-overlap--surface-column {
            z-index: 1 !important;
        }

        &.wsu-overlap-spotlight--style-left-top,
        &.wsu-overlap-spotlight--style-left-middle,
        &.wsu-overlap-spotlight--style-left-bottom {

            .wsu-overlap__container{
                flex-direction: row-reverse;
            }

        }

        .wsu-overlap__container {
            width: 100%;
            box-sizing: border-box;
        }


        &.wsu-overlap-spotlight--style-left-middle,
        &.wsu-overlap-spotlight--style-right-middle {

            .wsu-overlap__column-inner {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

        }

        &.wsu-overlap-spotlight--style-left-bottom,
        &.wsu-overlap-spotlight--style-right-bottom {

            .wsu-overlap__column-inner {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }

        }

    }

    .wp-block[data-type="wsuwp/overlap-spotlight"].wsu-color-scheme--dark {
        .wsu-overlap-spotlight__caption {
            background-color: #222;
            color: white;
        }
    }
}
