@import '../../../assets/src/scss/utilities/variables';
@import '../../../assets/src/scss/utilities/mixins';

.block-editor {


    .wp-block[data-type="wsuwp/row"] {

        @include wsu-gutenberg-block-outline();

    }


    .wsu-row {
        
        padding: $wsu-gutenberg-spacing--block-inner calc( #{$wsu-gutenberg-spacing--block-inner} /2 );

        & > .block-editor-inner-blocks  > .block-editor-block-list__layout {

            display: flex;

        }

        &--halves  > .block-editor-inner-blocks  > .block-editor-block-list__layout > .wsu-column {

            width: 50%;

        } 

        &--thirds  > .block-editor-inner-blocks  > .block-editor-block-list__layout > .wsu-column {

            width: 33.33%;

        }

        &--quarters  > .block-editor-inner-blocks  > .block-editor-block-list__layout > .wsu-column {

            width: 33.33%;

        }

        &--sidebar-left  > .block-editor-inner-blocks  > .block-editor-block-list__layout > .wsu-column {

            &:first-child {
                width: 33.33%;
            }

            &:last-child {
                width: 66.66%;
            }

        }

        &--sidebar-right  > .block-editor-inner-blocks  > .block-editor-block-list__layout > .wsu-column {

            &:last-child {
                width: 33.33%;
            }

            &:first-child {
                width: 66.66%;
            }

        }

        &--sidebars  > .block-editor-inner-blocks  > .block-editor-block-list__layout > .wsu-column {

            flex-grow: 1;
            flex-shrink: 1;
            width: 25%;

            &:first-child {
                width: 50%;
                flex-grow: 0;
                flex-shrink: 0;
            }

            &:nth-child(2) {
                order: -1;
            }

        } 
    } 
}
