.block-editor {
    
    .wsu-block-control-reset {
        margin-bottom: 24px;
        padding: 0;
        color: #2271b1;
        text-decoration: underline;

    }

    .wsu-block-control--has-reset {
        margin-bottom: 8px !important;
    }

}
