.block-editor-block-list__layout.is-root-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

.wp-block {
  max-width: 1200px;
}

.editor-styles-wrapper p.wp-block {
  margin-left: 0;
  margin-right: 0;
}

.wsu-row--single .wsu-column {
  flex-grow: 1;
}

.wsu-settings__base-control {
  width: 100%;
}

.wsu-settings__label {
  display: block !important;
  margin-bottom: 1em !important;
}

.wsu-settings__properties {
}

/*=============================================
=            Input w/ Icon Control            =
=============================================*/
.wsu-gutenberg-input-with-icon {
  position: relative;
}

.wsu-gutenberg-input-with-icon__icon {
  position: absolute;
  right: 0px;
  top: 1px;
  height: calc(100% - 2px);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;

  &--error {
    background: #ca1237;
    color: #fff;
  }

  &--success {
    background: #12ca6e;
    color: #fff;
  }
}
/*=====  End of Input w/ Icon Control  ======*/

/*===============================================================================
=            Hack to hide panels on 5.6. TODO: Remove in 5.8 upgrade            =
===============================================================================*/
.is-inspector-for-core--button + .components-panel__body,
.is-inspector-for-core--table ~ .block-editor-panel-color-gradient-settings {
  display: none;
}
/*=====  End Hack  ======*/
